/* Variables */
:root {
    --header-height : 48px;
    --page-padding-left : max(env(safe-area-inset-left), 48px);
    --page-padding-right : max(env(safe-area-inset-right), 48px);
    --page-max-width : 1200px;
}

/* Body */

#main {
    padding-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    justify-content: center;
}

#intro {
    margin-top: calc(-1 * var(--header-height));
    padding-top: var(--header-height);
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
    background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(120,119,198,0.3),rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#hibro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#diff-lang {
    height: 3rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#diff-lang::-webkit-scrollbar {
    display: none;
}

.dl-items {
    font-size: 2rem;
    height: 45px;
    scroll-snap-align: center;
    display: flex;
    justify-content: flex-end;
}

#briish, #melei, #sewey {
    font-size: 2.4rem;
    margin-bottom: 2px;
}

#dexstex {
    font-size: 2.4rem;
    padding-left: 8px;
}

#introimg {
    width: 400px;
}