/* Variables */
:root {
    --header-height : 48px;
    --page-padding-left : max(env(safe-area-inset-left), 48px);
    --page-padding-right : max(env(safe-area-inset-right), 48px);
    --page-max-width : 1200px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Body */

#main {
    padding-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    justify-content: center;
    background: radial-gradient(ellipse 50% 50% at 50%  50%,rgba(120,119,198,0.2),rgba(0, 0, 0, 0));
    opacity: 0;
    animation: 1s ease-out 0s 1 forwards fadein;
}

#intro {
    margin-top: calc(-1 * var(--header-height));
    padding-top: var(--header-height);
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#hibro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#diff-lang {
    height: 3rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#diff-lang::-webkit-scrollbar {
    display: none;
}

.dl-items {
    font-size: 2rem;
    height: 45px;
    scroll-snap-align: center;
    display: flex;
    justify-content: flex-end;
}

#briish, #melei, #sewey {
    font-size: 2.4rem;
    margin-bottom: 2px;
}

#dexstex {
    font-size: 2.4rem;
    padding-left: 8px;
}

#whoami p {
    margin-left: 32px;
    margin-top: 4px;
}

#introimg {
    width: 400px;
    opacity: .8;
}


.checkmystatus {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

.checkmystatus span {
    margin-top: 24px;
}

#content {
    display: flex;
    align-content: flex-end;
}