@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');

/* css animations*/
@keyframes slidein {
    from {
        transform: translateY(-60px);
        opacity: 0.6;
        z-index: -69;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        z-index: -69;
    }
}

@keyframes slideinOpposite {
    from {
        transform: translateY(90px);
        opacity: 0.8;
        z-index: -65;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        z-index: -65;
    }
}

/* css variables */
:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgba(23, 23, 23, 0.3);
  }

  /* css part */
body {
    background-color: rgb(2, 2, 2);
    margin: 0;
    height: 300vh;
    color: hsla(0, 0%, 100%, 0.85);
    font-family: 'Wix Maderfor Display', sans-serif;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/* start of header */
.header {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 5vh;
    margin: 0;
    display: grid;
    grid-template-columns: 5% 45%;
    font-family: 'Wix Madefor Display', sans-serif;
    top: 0;
}

.top-selections {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, minmax(10vh, 20vh));
    align-items: center;
}

a, a:visited, a:active {
    background: linear-gradient(currentColor 0 0) 
      bottom left/
      var(--underline-width, 0%) 0.1em
      no-repeat;
    color: hsla(0, 0%, 100%, 0.85);
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
  }
  
  a:hover {
    --underline-width: 100%;
  }

/* end of header */

/* start of intro */

.intro {
    animation: slidein 1s ease-out 0s 1 normal both;
    height: 80vh;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.85);
    display: flex;
    background:
    linear-gradient(to top, black 0%, transparent 90%),
    radial-gradient(ellipse at 10% 90%, #3c2d83 0%, transparent 55%),
    radial-gradient(ellipse at 90% 90%, #c33c65 0%, transparent 55%),
    radial-gradient(ellipse at 90% 10%, #4a74dc 0%, transparent 55%),
    radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);
    background-color: #170d24;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

#bold-intro {
    animation: slideinOpposite 1s ease-out 0s 1 normal both;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 900;
    font-size: 5em;
}

#unbold-intro {
    /* margin-top: 1vh; */
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 20vh;
}
/* end of intro */

/* start of main content */
.main {
    padding: 30vh 5vh 40vh 5vh;
    background: radial-gradient(ellipse 80% 40% at 50% 50%,rgba(120,119,198,0.3),rgba(0,0,0,0));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.card > h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    margin: 0px;
  }

#card-intro {
    margin-bottom: 5vh;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 2em;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.03),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.3),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }

/* end of main */

/* misc */
#scrolldown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}



  /* responsiveness */
  
  @media(max-width: 1000px) {
    body {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
  }
  