@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/wixmadefordisplay/v9/SZcS3EX9IbbyeJ8aOluD52KXgUA_7Ed1I13G853Cp9duUYFTYmtjtfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* css animations*/
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
    from {
        transform: translateY(-60px);
        opacity: 0.6;
        z-index: -69;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        z-index: -69;
    }
}

@keyframes slideinOpposite {
    from {
        transform: translateY(90px);
        opacity: 0.8;
        z-index: -65;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        z-index: -65;
    }
}

@keyframes header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


  /* css part */
html {
    scroll-behavior: smooth;
}

body {
    animation: fadeOut 0.6s linear 0.5s 1 normal both;
    opacity: 0;
    background-color: rgb(2, 2, 2);
    margin: 0;
    height: 300vh;
    color: hsla(0, 0%, 100%, 0.85);
    font-family: 'Wix Maderfor Display', sans-serif;
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    overflow: overlay;
    align-items: center;
    align-content: space-evenly;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ddd; 
}
/* start of header */

.header {
  animation: header 1s ease 2s 1 normal both;
    width: calc(100% - 300px);
    position: fixed;
    backdrop-filter: blur(5px);
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    margin: 0;
    display: grid;
    grid-template-columns: 5% 45%;
    font-family: 'Wix Madefor Display', sans-serif;
    top: 0;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    z-index: 6969;
    align-items: center;
    align-content: center;
}

.text-title {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.top-selections {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, minmax(10vh, 20vh));
    align-items: center;
}

a.options, a.options:visited, a.options:active {
    background: linear-gradient(currentColor 0 0) 
      bottom left/
      var(--underline-width, 0%) 0.1em
      no-repeat;
    color: hsla(0, 0%, 100%, 0.85);
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
  }
  
  a.options:hover {
    --underline-width: 100%;
  }

a.text-title, a.text-title:visited, a.text-title:active {
    background: linear-gradient(currentColor 0 0) 
      bottom left/
      var(--underline-width, 0%) 0.1em
      no-repeat;
    color: hsla(0, 0%, 100%, 0.85);
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
  }
  
  a.text-title:hover {
    --underline-width: 100%;
  }

/* end of header */


/* start of footer */
.footer {
  padding: 0 3em 1em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  vertical-align: baseline;
}

ul {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;
  justify-content: space-evenly;
}





  